@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}


#bgVideo{
  //background: url(https://www.bmw.com/video/is/content/BMW/bmwcom/bmw_com/category/Automotive%20Life/dj/dj-00-teaser-hd.mp4);
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.login{
  //box-sizing: border-box;
  font-family: Roboto, sans-serif;
  width: 20%;
  height: 91%;
  border: 1px solid #CCC;
  background: url('http://68.media.tumblr.com/2b27908fac782ca54cc2b3aff6862423/tumblr_mra3owkIhC1ro855no1_500.gif') center center no-repeat;
  //background: rgba(50,50,50,0.8);
  background-size: cover;
  min-width: 250pt;
  min-height: 80%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 1.5%;
}

.login .form {
  width: available;
  height: 100%;
  padding: 15px 20px;;
}

.login .form h2 {
  color: #FFF;
  text-align: center;
  font-weight: normal;
  font-size: xx-large;
  margin-top: 55px;
  margin-bottom: 55px;
}

.login p{
  text-align: center;
  color: white;
  font-size: small;
}
.login a{
  color: #7fffd4;
}

.login .form input {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: rgba(255,255,255,.5);
  border: 1px solid rgba(255,255,255,.1);
  padding: 0 15px;
  color: #FFF;
  border-radius: 2px;
  font-size: 14px;
}

.login .form:hover {
  border-color: aqua;
}

.select {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: rgba(255, 255, 255, 0.5);
  border: 1px solid rgba(255,255,255,.1);
  padding: 0 15px;
  color: #FFF;
  border-radius: 2px;
  font-size: 14px;
}

.select option {
  background: rgb(68, 70, 73);
}

.select:hover {
  //border-color: #b1dc14;
  border-color: aquamarine;
}
.select:focus {
  border-color: aqua;
}


.login .form input:focus {
  border: 1px solid rgba(255,255,255,.1);
  outline: none;
}

::-webkit-input-placeholder {
  color: #DDD;
}

.login .form input.submit {
  background: rgba(255,255,255,.9);
  color: #444;
  font-size: medium;
  margin-top: 40px;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

