@import url('https://fonts.googleapis.com/css?family=Roboto');

*{
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
}


#bgVideo{
  //background: url(https://www.bmw.com/video/is/content/BMW/bmwcom/bmw_com/category/Automotive%20Life/dj/dj-00-teaser-hd.mp4);
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.login{
  //box-sizing: border-box;
  font-family: Roboto, sans-serif;
  width: 20%;
  height: 91%;
  border: 1px solid #CCC;
  background: url('http://68.media.tumblr.com/2b27908fac782ca54cc2b3aff6862423/tumblr_mra3owkIhC1ro855no1_500.gif') center center no-repeat;
  //background: rgba(50,50,50,0.8);
  background-size: cover;
  min-width: 250pt;
  min-height: 80%;
  margin-top: 2%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  border-radius: 1.5%;
}

.login .form {
  width: available;
  height: 100%;
  padding: 15px 20px;;
}

.login .form h2 {
  color: #FFF;
  text-align: center;
  font-weight: normal;
  font-size: xx-large;
  margin-top: 60px;
  margin-bottom: 80px;
}

.login p{
  text-align: center;
  color: white;
  font-size: small;
}
.login a{
  color: #7fffd4;
}

.login .form input {
  width: 100%;
  height: 40px;
  margin-top: 20px;
  background: rgba(255,255,255,.5);
  border: 1px solid rgba(255,255,255,.1);
  padding: 0 15px;
  color: #FFF;
  border-radius: 2px;
  font-size: 14px;
}

.login .form input:focus {
  border: 1px solid rgba(255,255,255,.1);
  outline: none;
}

::-webkit-input-placeholder {
  color: #DDD;
}

.login .form input.submit {
  background: rgba(255,255,255,.9);
  color: #444;
  font-size: medium;
  margin-top: 40px;
  font-weight: bold;
  font-family: Roboto, sans-serif;
}

/* The container */
.container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  margin-top: 20px;
  cursor: pointer;
  //font-size: 22px;
  color: white;
  font: inherit;
  font-weight: lighter;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

/* Create a custom radio button */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the radio button is checked, add a blue background */
.container input:checked ~ .checkmark {
  background-color: #2196F3;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .checkmark:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .checkmark:after {
 	top: 7px;
	left: 7px;
	width: 12px;
	height: 12px;
	border-radius: 50%;
	background: white;
}