{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'Backend/register.scss' %}">

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Register</title>
</head>
    <video autoplay muted loop id="bgVideo">
        <source src="https://www.bmw.com/video/is/content/BMW/bmwcom/bmw_com/category/Automotive%20Life/dj/dj-00-teaser-hd.mp4" type="video/mp4">
    </video>
    <div class="login">
        <form class="form" action="" method="post">
            {% csrf_token %}
            <h2>Registro nuevo usuario</h2>
            {{ form }}
            <input type="submit" value="Registrarse" class="submit" >
            <p>¿Ya tienes una cuenta? <a href="{% url 'login' %}">Inicia sesión</a></p>
        </form>
    </div>
</body>
</html>