<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Start Page</title>
</head>
<body>
    <h3>Bienvenido {{ cliente.nombre }}</h3>
    <hr>
    <div class="container">
        <form action="{%  url 'tarifas' pk %}">
            <input type="submit" value="Consultar Tarifas">
        </form>
        <form action="{%  url 'create reserva' pk %}">
            <input type="submit" value="Crear Reserva">
        </form>
        <form action="{%  url 'reservas' pk %}">
            <input type="submit" value="Mis Reservas">
        </form>
    </div>
    <hr>
    <form id="filtros" action="{% url 'user home' pk %}">
        <div id="date_selector">
            Fecha inicio: <input type="date" id="start" name="fecha_start" value={{ today }} min={{ today }}>
            Fecha final: <input type="date" id="end" name="fecha_end" value={{ today }} min={{ today }}>
        </div>
        <div id="coches">
            Marca: <select name="marcas" >
                    <option value="">Todas</option>
                        {% for i in marcas %}
                            <option {% if i.marca == current_marca %}selected="selected"{% endif %}>
                            {{ i.marca }}
                            </option>
                        {% endfor %}
                    </select>
            Gama: <select name="gamas">
                        <option value="">Todas</option>
                        {% for i in gamas %}
                            <option {% if i.1 == current_gama %}selected="selected"{% endif %}>
                            {{ i.1 }}
                            </option>
                        {% endfor %}
                    </select>
        </div>
        <input type="submit" value="Filtrar">
    </form>
    </div>
    <hr>
    <div class="list-group">
        <h3>Lista coches</h3>
        <u1>
        {% block content %}
            {% for coche in object_list %}
                <p>{{ coche }}</p>
            {% endfor %}
        {% endblock %}
        </u1>
    </div>
    <hr>
</body>
</html>